body{

    background: #fefae0;
    /* align-content: center; */
    margin: 0;
    /* border: 2px solid; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    width: 300px;
}

div{
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
    background-color: #faedcd;
}

label,input{
    margin-bottom: 10px;
}

h1{
    text-align: center;
}

label{
    display: flex;
    justify-content: space-between;
}